html{
  font-size: 16px;
  font-family: Amiko, sans-serif;
}

img{
  width: 100%;
  height: auto;
}
header{
  top: 0;
  width: 100%;
  background-color: white;
  height: 64px;
  font-family: Amiko, sans-serif;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
}
header img{
  width: 3em;
}
header .header_text{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
header .links ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

header li:nth-child(2n+0){
  height: 64px;
  width: 16px;
  background-color: hsl(180, 56%, 73%);
}
.name #acad{
  color: hsl(0, 0%, 55%);
}
body{
color: hsl(0, 0%, 29%);
}
.banner{
  background-color: hsl(0, 0%, 85%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.banner_image{
  width: 60%;
  padding: 32px 40px 32px 24px;
}
.banner_text{
  width: 30%;
  height: 310px;
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: hsl(0, 0%, 29%);

}
#banner_head{
  font-size: 2.25em;
  font-weight: bold;
}
#banner_para{
  font-size: 1.25em;
  font-weight: bold;
}
#banner_button{
  background-color: hsl(0, 0%, 29%);
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 8px;
}
.info{
  display: flex;
  flex-direction: row;
}
.practice {
  width: 60%;
  padding: 32px 24px;
}
.practice_text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.practice_text span:nth-child(1){
  font-size: 2em;
  font-weight: bold;
}
#emanuel{
  font-size: 0.75em;
}
.information{
  width: 100%;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}
.info_image{
  width: 35%;
  margin: 16px;
}
.info_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 57%;
  margin: 4px;
}
.info_text p{
  margin-top: 8px;
}
.info_text p:nth-child(1n + 3){
  color: hsl(214, 65%, 65%);
}
.info_text p:nth-child(1n + 2){
  font-size: 0.75em;
}
#orientation .info_image:nth-child(1n+1){
  margin-top: 0px;
}
#orientation, #campus, #guest{
  display: flex;
  flex-direction: row;
}

#guest{
  background-color: hsl(0, 0%, 85%);

}
#guest_detail{
  font-size: 0.75em;
}
#info_main{
  display: flex;
  flex-direction: row;
  width: 423px;
}
.practice_text.Learning{
  display: flex;
  align-items: center;
  height: 2em;
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: hsl(0, 0%, 95%);
}
.learning_images{
  background-color: hsl(0, 0%, 95%);
  display: flex;
  flex-direction: column;
}
.learning_row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.row1{
  margin-bottom: 16px;
}
.learning_box{
  background-color: white;
  width: 230px;
  height: 220px;
  margin-right: 32px;
}
.learning_box h3{
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.learning_box p{
  padding-top: 8px;
  color: hsl(180, 0%, 59%);
  padding-left: 16px;
}
.learning_box.design, .learning_box.marketing{
  margin-right: 0px;
}
.course_text{
  color: hsl(180, 0%, 59%);
  width: 215px;
  background-color: white;
  padding-bottom: 24px;
  padding-left: 16px;
  font-size: .75em;
}
.comp_art{
  padding-bottom: 12px;
}
